doctype html

head
  title My Site

  meta(name="viewport", content="width=device-width")
  meta(name="mobile-web-app-capable", content="yes")

  script(src='/js/main.js')
  link(href='/style/normalize.css', rel='stylesheet')
  link(href='/style/main.css', rel='stylesheet')
